:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 82px;
  --avatar-size: 36px;
  --upNext-size: 300px;

  /* font size */

  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Roboto;
}

ul {
  list-style: none;
}

.whiteSkin {
  background-image: url("../Assets/Images/letter_old_small.png");
}

.redSkin {
  background-image: url("../Assets/Images/letter-original.png");
}

.blueSkin {
  background-image: url("../Assets/Images/letter_seafood.png");
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: skyblue;
  color: var(--white-color);
}

#writeButton {
  padding: 25px;
  margin-left: 40%;
}
#closeButton {
  border: none;
  outline: none;
  padding: 15px;
}
#bottle {
  background-color: transparent !important;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("../Assets/Images/bottle_lie.png");
  border-color: transparent;
  border: none;
  outline: none;
}

#letterPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
#writePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#letterPopupContents {
  width: 500px;
  height: 647px;
}

#letterContents {
  margin: auto;
  align-items: center;
  /*margin-right: 10%;
  margin-top: 20%;
  margin-bottom: 20%;*/
}

#closeLetterButton {
  margin-left: 40%;
}

#letterPopup.hide {
  display: none;
}

#letterPopupContents.hide {
  display: none;
}

#writePopup.hide {
  display: none;
}

#letterPopup .content {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 170px;
  padding-right: 170px;

  z-index: 50;
  background-image: url("../Assets/Images/letter_old_small.png");
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
#writePopup .content {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 170px;
  padding-right: 170px;
  background-image: url("../assets/Images/letter_old_small.png");
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

  z-index: 50;
}
#closeLetterButton {
  padding: 5px;
  border: none;
  outline: none;
}
#closeWriteButton {
  padding: 5px;
  border: none;
  outline: none;
}

body > .info {
  background-color: #c3bebc;
}

.UpNext {
  padding: 90px;
  background-color: #c3bebc;
}
