:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 82px;
  --avatar-size: 36px;
  --upNext-size: 300px;

  /* font size */

  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Roboto;
}

ul {
  list-style: none;
}

.originalSkin {
  background-image: url("../Assets/Images/letter-original.png");
}

.oldSkin {
  background-image: url("../Assets/Images/letter_old.png");
}

.seafoodSkin {
  background-image: url("../Assets/Images/letter_seafood.png");
}
/*
#originalWP {
  float: left;
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  outline: none;
  background-image: url("../Assets/Images/lettericon_original_shadow_small.png");
  width: 40px;
  height: 43px;
  z-index: 4;
  margin-left: 9.5%;
  margin-top: 7%;
  margin-bottom: 3%;
}

#oldWP {
  float: left;
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  outline: none;
  background-image: url("../Assets/Images/lettericon_old_shadow_small.png");
  width: 40px;
  height: 43px;
  z-index: 4;

  margin-left: 4%;
  margin-top: 7%;
}

#seafoodWP {
  float: left;
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  outline: none;
  background-image: url("../Assets/Images/lettericon_seafood_shadow_small.png");
  width: 40px;
  height: 41px;
  z-index: 4;
  margin-left: 4%;
  margin-top: 7%;
}
*/
.bottleLetter:hover {
  transform: scale(1.05);
}

#originalWP {
  float: left;
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  outline: none;
  background-image: url("../Assets/Images/lettericon_original.png");
  width: 201px;
  height: 212px;
  z-index: 54;
  margin-left: 14%;
  margin-top: 10%;
  margin-bottom: 3%;
}
#originalWP:hover {
  transform: scale(1.1);
}

#oldWP {
  float: left;
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  outline: none;
  background-image: url("../Assets/Images/lettericon_old.png");
  width: 201px;
  height: 212px;
  z-index: 54;

  margin-left: 4%;
  margin-top: 10%;
}
#oldWP:hover {
  transform: scale(1.1);
}

#seafoodWP {
  float: left;
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  outline: none;
  background-image: url("../Assets/Images/lettericon_seafood.png");
  width: 201px;
  height: 212px;
  z-index: 54;
  margin-left: 4%;
  margin-top: 10%;
}
#seafoodWP:hover {
  transform: scale(1.1);
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: skyblue;
  color: var(--white-color);
}

#writeContents {
  margin-top: 0%;
  margin-left: 13.6%;
  outline: none;
  width: 1900px;
  height: 2250px;
  border-width: 6px;
  background: transparent;
  border-color: #eeeeee;
  /*border-color: transparent;*/
  font-size: 80px;
  font-family: "Gaegu", cursive;
}

#writeButton {
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  outline: none;
  background-image: url("../Assets/Images/write_button_small.png");
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 120px;
  height: 120px;
  z-index: 54;
  margin-left: 40%;
  margin-bottom: 0.6%;
  cursor: pointer;
}
#writeButton:hover {
  transform: scale(1.1);
}

#infoButton {
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  outline: none;
  background-image: url("../Assets/Images/informatiion_button_small.png");
  position: fixed;
  right: 94.5%;
  bottom: 3%;
  width: 60px;
  height: 60px;
  z-index: 54;
  margin-left: 40%;
  cursor: pointer;
}
#infoButton:hover {
  transform: scale(1.1);
}

#writeDate {
  width: 2500px;
  height: 200px;
  position: relative;
  left: 260px;
  top: 420px;
  font-size: 110px;
  font-family: "Gaegu", cursive;
}

#letterDate {
  position: relative;
  margin-left: 55%;
  top: 500px;
  font-size: 100px;

  font-family: "Gaegu", cursive;
}

#returnLetterButton {
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  outline: none;
  background-image: url("../Assets/Images/button_return_small.png");
  width: 130px;
  height: 41px;
  position: absolute;
  left: 46%;
  top: 92.5%;
  z-index: 65;
  cursor: pointer;
}

#saveLetterButton {
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  outline: none;
  background-image: url("../Assets/Images/button_floating_small.png");
  width: 130px;
  height: 41px;
  position: absolute;
  left: 56%;
  top: 92.5%;
  z-index: 65;
  cursor: pointer;
}

#closeWriteButton {
  background-color: transparent !important;
  border-color: transparent;
  border: none;
  outline: none;
  background-image: url("../Assets/Images/button_cancel_small.png");
  width: 130px;
  height: 41px;
  position: absolute;
  left: 36%;
  top: 92.5%;
  z-index: 65;
  cursor: pointer;
}

#closeButton {
  /*
  border: none;
  outline: none;
  padding: 15px;
  */
}

#bottle {
  background-color: transparent !important;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("../Assets/Images/bottle_lie.png");
  border-color: transparent;
  border: none;
  outline: none;
}

#letterPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 60;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
#writePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 60;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#letterPopupContents {
  margin-bottom: 2%;
  width: 2597px;
  height: 3360px;
  transform: scale(0.2);
}

#writePopupContents {
  margin-bottom: 2%;
  width: 2597px;
  height: 3360px;
  transform: scale(0.2);
}

#infoContents {
  background-image: url("../Assets/Images/infor.png");
  width: 1732px;
  height: 2240px;
  transform: scale(0.22);
}

#letterContents {
  padding-top: 400px;
  margin-left: 18%;
  margin-right: 18%;
  font-size: 80px;
  height: 1900px;
  overflow-y: scroll;

  font-family: "Gaegu", cursive;
  /*margin: auto;
  align-items: center;*/
  /*margin-right: 10%;
  margin-top: 20%;
  margin-bottom: 20%;*/
}

#letterContents::-webkit-scrollbar {
  width: 5px;
}

#letterLength {
  font-size: 110px;
  margin-left: 70%;
  margin-top: 1%;
  font-family: "Gaegu", cursive;
}

#infoPopup.hide {
  display: none;
}

#letterPopup.hide {
  display: none;
}

#letterPopupContents.hide {
  display: none;
}

#writePopup.hide {
  display: none;
}

#infoPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 60;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
/*
#letterPopup .content {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 170px;
  padding-right: 170px;

  z-index: 50;
  background-image: url("../Assets/Images/letter_old_small.png");
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
#writePopup .content {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 170px;
  padding-right: 170px;
  background-image: url("../assets/Images/letter_old_small.png");
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

  z-index: 50;
}
*/
body > .info {
  background-color: #c3bebc;
}

.UpNext {
  padding: 90px;
  background-color: #c3bebc;
}
