.sea {
  overflow: hidden;

  margin-top: -160px;
  height: 10vw;
  width: 100%;
  min-height: 100px;
  /*background: #4888ff;*/
}

.bottleField {
  position: relative;
  height: 90%;
  width: 90%;
  z-index: 10;
}

.sands {
  height: 2900px;
  width: 100%;
  background: #e7ce94;
}

#crabRed {
  width: 156px;
  height: 120px;
  top: 150%;
  left: 15%;
  position: absolute;
  z-index: 9;
  background-image: url(../Assets/Images/crab_red_small.png);
}

#umbrella {
  position: absolute;
  top: 112%;
  left: -7%;
  width: 700px;
  height: 533px;
  z-index: 8;
  background-image: url(../Assets/Images/umbrella_small.png);
}

#starfish {
  width: 97px;
  height: 94px;
  top: 100%;
  left: 87%;
  z-index: 8;
  position: absolute;
  background-image: url(../Assets/Images/starfish_small.png);
}

#pot {
  width: 214px;
  height: 166px;
  top: 210%;
  left: 35%;
  z-index: 9;
  position: absolute;
  background-image: url(../Assets/Images/pot_small.png);
}

#sandcastle {
  width: 337px;
  height: 456px;
  top: 170%;
  left: 45%;
  z-index: 8;
  position: absolute;
  background-image: url(../Assets/Images/sandcastle_small.png);
}

#flag {
  width: 273px;
  height: 241px;
  top: 210%;
  left: 65%;
  z-index: 8;
  position: absolute;
  background-image: url(../Assets/Images/flag_shadow.png);
}

#shellRed {
  position: absolute;
  z-index: 8;
  top: 120%;
  left: 60%;
  width: 134px;
  height: 98px;
  background-image: url(../Assets/Images/shell_red_small.png);
}

#ball {
  position: absolute;
  z-index: 8;
  width: 292px;
  height: 234px;
  top: 275%;
  left: 70%;
  background-image: url(../Assets/Images/ball_small.png);
}

#sandle {
  position: absolute;
  z-index: 8;
  width: 258px;
  height: 323px;
  top: 310%;
  left: 5%;
  background-image: url(../Assets/Images/sandle_small.png);
}

#shell1 {
  position: absolute;
  z-index: 8;
  top: 100%;
  left: 40%;
  width: 94px;
  height: 77px;
  background-image: url(../Assets/Images/shell1_small.png);
}

#shell2 {
  position: absolute;
  z-index: 8;
  top: 190%;
  left: 28%;
  width: 74px;
  height: 100px;
  background-image: url(../Assets/Images/shell2_small.png);
}

#shell3 {
  position: absolute;
  z-index: 8;
  top: 294%;
  left: 22%;
  width: 59px;
  height: 61px;
  background-image: url(../Assets/Images/shell3_small.png);
}

.wave {
  position: relative;

  z-index: 20;
  background: transparent;
  background-color: transparent;
  transition: all ease 0s;
  transform-origin: top;
  animation-name: wave-animation;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-play-state: paused;

  background-color: #79b7eb;

  width: 100%;
  height: 100px;
}

.waveDecorate {
  position: absolute;
  z-index: 21;
  background: transparent;
  background-color: transparent;
  transition: all ease 0s;
  transform-origin: bottom;
  animation-name: waveDeco-animation;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-play-state: paused;

  background-image: url("../Assets/Images/wave_under_small.png  ");

  width: 100%;
  height: 348px;
}

@keyframes wave-animation {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(17);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes waveDeco-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1500px);
  }
  100% {
    transform: translateY(0);
  }
}
