#ocean { 
    height: 10vw;
    width:100%;
    min-height: 100px;
    background: #4888ff;
  }
  
  .wave {
    position: relative;
  
    width:100%;
    height: 100%;
    z-index: 99;
    background: #4888ff;
    transition: all ease 0s;
    transform-origin: top center;
    animation-name: wave-animation;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-play-state: paused;
  }
  
  @keyframes wave-animation {
    0% {
      transform: scaleY( 1 );
    }
    50% {
      transform: scaleY( 16 );
    } 
    100% {
      transform: scaleY( 1 );
    }
  }