.sea {
  overflow: hidden;
  margin-top: -180px;
  height: 10vw;
  width: 100%;
  min-height: 100px;
  /*background: #4888ff;*/
}

.bottleField {
  position: relative;
  height: 80%;
  width: 80%;
  z-index: 1;
}

.sands {
  height: 1700px;
  width: 100%;
  background: #e7ce94;
}

#crab_red {
  width: 142px;
  height: 109px;
  z-index: 8;
  background-image: url(../Assets/Images/crab_red_small.png);
}

#umbrella {
  top: 520px;
  left: 500px;
  width: 515px;
  height: 395px;
  background-color: transparent;
  background-image: url(../Assets/Images/umbrella_small.png);
}

#starfish {
  width: 99px;
  height: 96px;
  background-image: url(../Assets/Images/starfish_small.png);
}

#pot {
  width: 142;
  height: 109;
  background-image: url(../Assets/Images/crab_red_small.png);
}

#sandcastle {
  width: 142;
  height: 109;
  background-image: url(../Assets/Images/crab_red_small.png);
}

#flag {
  width: 142;
  height: 109;
  background-image: url(../Assets/Images/crab_red_small.png);
}
.wave {
  position: relative;

  z-index: 1;
  background: transparent;
  background-color: transparent;
  transition: all ease 0s;
  transform-origin: top;
  animation-name: wave-animation;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-play-state: paused;

  background-color: #79b7eb;

  width: 100%;
  height: 100px;
}

.waveDecorate {
  position: absolute;
  z-index: 1;
  background: transparent;
  background-color: transparent;
  transition: all ease 0s;
  transform-origin: bottom;
  animation-name: waveDeco-animation;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-play-state: paused;

  background-image: url("../Assets/Images/wave_under_small.png  ");

  width: 100%;
  height: 348px;
}

@keyframes wave-animation {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(17);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes waveDeco-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1500px);
  }
  100% {
    transform: translateY(0);
  }
}
