*{
    padding: 0;
    margin: 0;
}

html {
    overflow-y:auto;  
    overflow-x: hidden;
}

body {
    overflow: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background :black;
    overflow-x:hidden;
    overflow-y:auto;
    z-index:-3;
}

.sky {
        overflow : hidden;
        color :white;
        font-family: "휴면편지";
        font-size : 1.3rem;
        font-weight: bold;;
        top : 0px;
        height : 360px;
        z-index:-2;
    }

    /*기본 구름*/
    .cloudleft {
        overflow: hidden;
        position:absolute;
        top:90px;
        left:0%;
        z-index:1;
        
        }

        .cloudright{
        overflow: hidden;
        position:absolute;
        top:90px;
        right: 0%;
        z-index:1;
        }

 /*뇌우*/
        .thunder
        {
        position: absolute;
        margin-top: -150px;
        position:absolute;
        width:100%;
        height:150%;
        background: white;
        animation: lighting 4s linear infinite;
        opacity:0;

        }  
        @keyframes lighting
        {
            0%
        {
            opacity:0;
        }
        10%
        {
            opacity:0;
        }
        11%
        {
            opacity:1;
        }
        14%
        {
            opacity:0;
        }
        20%
        {
            opacity:0;
        }
        21%
        {
            opacity:1;
        }
        24%
        {
            opacity:0;
        }
        104%
        {
            opacity:0;
        }
        } 
     

/*눈*/
        .snowflake {
        position: absolute;
        color: #fff;
        font-size: 1em;
        font-family: Arial;
        text-shadow: 0 0 1px #000;
        }

        @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
        @-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);
            transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}
            @keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
            @keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}
            .snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;
                -ms-user-select:none;user-select:none;cursor:default;
                -webkit-animation-name:snowflakes-fall,snowflakes-shake;
                -webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;
                -webkit-animation-iteration-count:infinite,infinite;
                -webkit-animation-play-state:running,running;
                animation-name:snowflakes-fall,snowflakes-shake;
                animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;
                animation-iteration-count:infinite,infinite;animation-play-state:running,running}
                .snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
                .snowflake:nth-of-type(1){left:5%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
                .snowflake:nth-of-type(2){left:10%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
                .snowflake:nth-of-type(3){left:15%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
                .snowflake:nth-of-type(4){left:20%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
                .snowflake:nth-of-type(5){left:25%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
                .snowflake:nth-of-type(6){left:30%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
                .snowflake:nth-of-type(7){left:35%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
                .snowflake:nth-of-type(8){left:40%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
                .snowflake:nth-of-type(9){left:45%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
                .snowflake:nth-of-type(10){left:50%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
                .snowflake:nth-of-type(11){left:55%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
                .snowflake:nth-of-type(12){left:60%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
                .snowflake:nth-of-type(13){left:65%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
                .snowflake:nth-of-type(14){left:70%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
                .snowflake:nth-of-type(15){left:75%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
                .snowflake:nth-of-type(16){left:80%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
                .snowflake:nth-of-type(17){left:85%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
                .snowflake:nth-of-type(18){left:90%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
                .snowflake:nth-of-type(19){left:95%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
    
 /*구름*/
        .clouds {
            overflow: hidden;
        }

        .cloud1 {
            overflow: hidden;
            position:absolute;
            top:14%;
            -webkit-animation: movingclouds 80s linear infinite;
            -moz-animation: movingclouds 80s linear infinite;
            -o-animation: movingclouds 80s linear infinite;
        }

        .cloud2 {
            overflow: hidden;
            position:absolute;
            top:8%;     
            -webkit-animation: movingclouds 105s linear infinite;
            -moz-animation: movingclouds 105s linear infinite;
            -o-animation: movingclouds 105s linear infinite;
        }

        .cloud3 {
            overflow: hidden;
            position:absolute;
            top:25%;          
            -webkit-transform: scale(0.9);
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            transform: scale(0.9);
            opacity: 0.9; 
            -webkit-animation: movingclouds 90s linear infinite;
            -moz-animation: movingclouds 90s linear infinite;
            -o-animation: movingclouds 90s linear infinite;
        }

        .cloud4 {
            overflow: hidden;
            position:absolute;
            top:20%;       
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            opacity: 0.8; 
            -webkit-animation: movingclouds 120s linear infinite;
            -moz-animation: movingclouds 120s linear infinite;
            -o-animation: movingclouds 120s linear infinite;
        }

        .cloud5 {
            overflow: hidden;
            position:absolute;
            top:2%;           
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            transform: scale(0.7);
            opacity: 0.7; 
            -webkit-animation: movingclouds 70s linear infinite;
            -moz-animation: movingclouds 70s linear infinite;
            -o-animation: movingclouds 70s linear infinite;
        }


        @keyframes movingclouds {
            0% {margin-left: 100%;}
            100% {margin-left: 0%;}
        }
        @-webkit-keyframes movingclouds {
            0% {margin-left: 100%;}
            100% {margin-left: 0%;}
        }
        @-moz-keyframes movingclouds {
            0% {margin-left: 100%;}
            100% {margin-left: 0%;}
        }

 /*비*/
        .rain {
        overflow:hidden;
        }
        
        .drop {
        overflow:hidden;
        position: absolute;
        -webkit-transition: -webkit-transform 1.2s;
        transition: -webkit-transform 1.2s;
        -o-transition: -o-transform 1.2s;
        -moz-transition: transform 1.2s, -moz-transform 1.2s;
        transition: transform 1.2s;
        transition: transform 1.2s, -webkit-transform 1.2s, -moz-transform 1.2s, -o-transform 1.2s;
        -webkit-transform-origin: 50% 100%;
           -moz-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
             -o-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-border-bottom-left-radius: 5px;
           -moz-border-radius-bottomleft: 5px;
                border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
           -moz-border-radius-bottomright: 5px;
                border-bottom-right-radius: 5px;      
        z-index: 3;
        }

        .rain1 {
            left: 3%;
            top: -50px;    
            -webkit-animation:rain 1.1s linear 2.7s infinite;   
               -moz-animation:rain 1.1s linear 2.7s infinite;   
                 -o-animation:rain 1.1s linear 2.7s infinite;    
                    animation:rain 1.1s linear 2.7s infinite;
        }
        .rain2 {
            left: 10%;
            top: -50px;     
            -webkit-animation:rain .9s linear 1s infinite;   
               -moz-animation:rain .9s linear 1s infinite;   
                 -o-animation:rain .9s linear 1s infinite;   
                    animation:rain .9s linear 1s infinite;
        }
        .rain3 {
            -webkit-animation:rain .9s linear 6.2s infinite;
               -moz-animation:rain .9s linear 6.2s infinite;
                 -o-animation:rain .9s linear 6.2s infinite;
                    animation:rain .9s linear 6.2s infinite;
            left: 17%;
            top: -50px;    
        }
        .rain4 {
            -webkit-animation:rain .8s linear 4.3s infinite;
               -moz-animation:rain .8s linear 4.3s infinite;
                 -o-animation:rain .8s linear 4.3s infinite;
                    animation:rain .8s linear 4.3s infinite;
            left: 24%;
            top: -50px;    
        }
        .rain5 {
            -webkit-animation:rain 1s linear 5.5s infinite;
               -moz-animation:rain 1s linear 5.5s infinite;
                 -o-animation:rain 1s linear 5.5s infinite;
                    animation:rain 1s linear 5.5s infinite;
            left: 31%;
            top: -50px;    
        }
        .rain6 {
            -webkit-animation:rain .9s linear 5.9s infinite;
               -moz-animation:rain .9s linear 5.9s infinite;
                 -o-animation:rain .9s linear 5.9s infinite;
                    animation:rain .9s linear 5.9s infinite;
            left: 38%;
            top: -50px;    
        }
        .rain7 {
            -webkit-animation:rain 1.3s linear 6.5s infinite;
               -moz-animation:rain 1.3s linear 6.5s infinite;
                 -o-animation:rain 1.3s linear 6.5s infinite;
                    animation:rain 1.3s linear 6.5s infinite;
            left: 45%;
            top: -50px;    
        }
        .rain8 {
            -webkit-animation:rain .9s linear 0.3s infinite;
               -moz-animation:rain .9s linear 0.3s infinite;
                 -o-animation:rain .9s linear 0.3s infinite;
                    animation:rain .9s linear 0.3s infinite;
            left: 52%;
            top: -50px;    
        }
        .rain9 {
            -webkit-animation:rain .8s linear 1.5s infinite;
               -moz-animation:rain .8s linear 1.5s infinite;
                 -o-animation:rain .8s linear 1.5s infinite;
                    animation:rain .8s linear 1.5s infinite;
            left: 59%;
            top: -50px;    
        }
        .rain10 {
            -webkit-animation:rain 1.2s linear 1.3s infinite;
               -moz-animation:rain 1.2s linear 1.3s infinite;
                 -o-animation:rain 1.2s linear 1.3s infinite;
                    animation:rain 1.2s linear 1.3s infinite;
            left: 66%;
            top: -50px;    
        }
        .rain11 {
            left: 73%;
            top: -50px;    
            -webkit-animation:rain 1.1s linear 2.7s infinite;    
               -moz-animation:rain 1.1s linear 2.7s infinite;  
                 -o-animation:rain 1.1s linear 2.7s infinite;  
                    animation:rain 1.1s linear 2.7s infinite;
        }
        .rain12 {
            left: 80%;
            top: -50px;     
            -webkit-animation:rain .9s linear 1s infinite;     
               -moz-animation:rain .9s linear 1s infinite;   
                 -o-animation:rain .9s linear 1s infinite;   
                    animation:rain .9s linear 1s infinite;
        }
        .rain13 {
            -webkit-animation:rain .9s linear 6.2s infinite;
               -moz-animation:rain .9s linear 6.2s infinite;
                 -o-animation:rain .9s linear 6.2s infinite;
                    animation:rain .9s linear 6.2s infinite;
            left: 87%;
            top: -50px;    
        }
        .rain14 {
            -webkit-animation:rain .8s linear 4.3s infinite;
               -moz-animation:rain .8s linear 4.3s infinite;
                 -o-animation:rain .8s linear 4.3s infinite;
                    animation:rain .8s linear 4.3s infinite;
            left: 94%;
            top: -50px;    
        }
        .rain15 {
            -webkit-animation:rain 1s linear 5.5s infinite;
               -moz-animation:rain 1s linear 5.5s infinite;
                 -o-animation:rain 1s linear 5.5s infinite;
                    animation:rain 1s linear 5.5s infinite;
            left: 99%;
            top: -50px;    
        }
        @-webkit-keyframes rain
        {
            from {top:-50px;}
            to {top:500px;}
        }
        @-moz-keyframes rain
        {
            from {top:-50px;}
            to {top:500px;}
        }
        @-o-keyframes rain
        {
            from {top:-50px;}
            to {top:500px;}
        }
        @keyframes rain
        {
            from {top:-50px;}
            to {top:500px;}
        }


/*해*/
        .sun {             
            position:absolute;
            top:5%;
            right:12%;
            background-color:transparent ;
            
            animation-name: scaleup;   /* 확대 애니메이션*/
            animation-duration: 3s;
            animation-iteration-count: infinite;
              }

            @keyframes scaleup
            {
              0%
              {
                transform:scale(1,1); 
              }
              50%
              {
                transform:scale(1.1,1.1); 
              }
              100%
              {
                transform:scale(1,1); 
              }
            }
                       
            /* 360도 회전 애니메이션
                animation: rotate_image 15s linear infinite;
                transform-origin: 50% 50%;
            }
            @keyframes rotate_image{
                100% {
                    transform: rotate(360deg);
                }

            }
            */

/*달 */
        .moon { 
            position:absolute;
            top:3%;
            right:10%;
            background-color:transparent ;
            animation-name: rotate;
            animation-duration: 3s;
            animation-iteration-count: infinite;
              }

            @keyframes rotate
            {
              0%
              {
              transform:rotate(-30deg);
              }
              50%
              {
              transform:rotate(4deg);
              }
              100%
              {
              transform:rotate(-30deg);
              }
            }

 /*별 */
        @-webkit-keyframes blinker {
            from {opacity: 1.0;}
            to {opacity: 0.0;}
          }
        .star1{
          position:absolute;
          top:10%;
          left:10%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star2{
          position:absolute;
          top:3%;
          left:20%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1.3s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star3{
          position:absolute;
          top:10%;
          left:25%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star4{
          position:absolute;
          top:33%;
          left:28%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1.3s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star5{
          position:absolute;
          top:4%;
          left:35%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star6{
          position:absolute;
          top:16%;
          left:40%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1.3s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star7{
          position:absolute;
          top:33%;
          left:45%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star8{
          position:absolute;
          top:8%;
          left:50%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1.3s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star9{
          position:absolute;
          top:18%;
          left:55%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star10{
          position:absolute;
          top:32%;
          left:60%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1.3s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star11{
          position:absolute;
          top:22%;
          left:65%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star12{
          position:absolute;
          top:7%;
          left:68%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1.3s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star13{
          position:absolute;
          top:10%;
          left:77%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star14{
          position:absolute;
          top:20%;
          left:23%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1.3s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star15{
          position:absolute;
          top:3%;
          left:95%;
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
        .star16{
            position:absolute;
            top:1%;
            left:43%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1.3s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star17{
            position:absolute;
            top:2%;
            left:60%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star18{
            position:absolute;
            top:1%;
            left:80%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1.3s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star19{
            position:absolute;
            top:25%;
            left:35%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star20{
            position:absolute;
            top:23%;
            left:50%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1.3s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star21{
            position:absolute;
            top:30%;
            left:70%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star22{
            position:absolute;
            top:12%;
            left:63%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1.3s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star22{
            position:absolute;
            top:18%;
            left:72%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star23{
            position:absolute;
            top:15%;
            left:18%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1.3s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star24{
            position:absolute;
            top:1%;
            left:70%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star25{
            position:absolute;
            top:26%;
            left:42%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1.3s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star26{
            position:absolute;
            top:17%;
            left:30%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star27{
            position:absolute;
            top:1%;
            left:28%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1.3s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star28{
            position:absolute;
            top:1%;
            left:53%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star29{
            position:absolute;
            top:15%;
            left:62%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1.3s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
          .star30{
            position:absolute;
            top:36%;
            left:55%;
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1.3s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
          }
/*갈매기*/
        .seagull {
            top:120px;
            object-fit: cover;
            overflow: hidden;
             position:absolute;
            -webkit-animation: fly-right-two 14s linear infinite;
            -moz-animation:fly-right-two 14s linear infinite;
            -o-animation: fly-right-two 14s linear infinite;
         }
            /*
            @keyframes movingseagull {
                0% {margin-left: -150%;}
                100% {margin-left: 100%;}
            }
            @-webkit-keyframes movingseagull {
                0% {margin-left:-150%;}
                100% {margin-left: 100%;}
            }
            @-moz-keyframes movingseagull {
                0% {margin-left: -150%;}
                100% {margin-left: 100%;}
            }
            @keyframes fly-cycle {
	
                100% {
                    background-position: -900px 0;
                }
                
            }
            */

            /*
            @keyframes fly-right-one {
                
                0% {
                    transform: scale(0.3) translateX(-10vw);
                }
                
                10% {
                    transform: translateY(2vh) translateX(10vw) scale(0.4);
                }
                
                20% {
                    transform: translateY(0vh) translateX(30vw) scale(0.5);
                }
                
                30% {
                    transform: translateY(4vh) translateX(50vw) scale(0.6);
                }
                
                40% {
                    transform: translateY(2vh) translateX(70vw) scale(0.6);
                }
                
                50% {
                    transform: translateY(0vh) translateX(90vw) scale(0.6);
                }
                
                60% {
                    transform: translateY(0vh) translateX(110vw) scale(0.6);
                }
                
                100% {
                    transform: translateY(0vh) translateX(110vw) scale(0.6);
                }
                
            }
            */
            @keyframes fly-right-two {
                
                0% {
                    transform: translateY(-2vh) translateX(0vw) scale(0.5);
                }
                
                10% {
                    transform: translateY(0vh) translateX(10vw) scale(0.4);
                }
                
                20% {
                    transform: translateY(-4vh) translateX(30vw) scale(0.5);
                }
                
                30% {
                    transform: translateY(1vh) translateX(50vw) scale(0.45);
                }
                
                40% {
                    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
                }
                
                50% {
                    transform: translateY(0vh) translateX(90vw) scale(0.45);
                }
                
                51% {
                    transform: translateY(0vh) translateX(100vw) scale(0.45);
                }
                
                100% {
                    transform: translateY(0vh) translateX(100vw) scale(0.45);
                }
                
            }